<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jóhann Sveinn Ingason - <%= title %></title>
	<link rel="stylesheet" href="/css/bulma.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="/javascript/burger.js"></script>
	<link rel="stylesheet" href="/css/styles.css">
	<!-- <link rel="stylesheet" href="css/debug.css"> -->
</head>