<!DOCTYPE html>
<html>

<%- include("partials/_head.ejs", { title: "Contact"}) %>

<body>
	<!-- hero -->
	<section class="hero is-fullheight has-background-black">
		<div class="hero-head">
			<%- include("partials/_nav.ejs") %>
		</div>
		<div class="hero-body has-text-centered">
			<div class="container">
				<div class="columns is-vcentered">
					<div class="column is-one-third">
						<div class="container slide-in-from-left">
							<div class="field">
								<div class="control">
									<h1 class="subtitle has-text-weight-medium">
										&NonBreakingSpace;&NonBreakingSpace;
										<span class="has-text-white">joi</span><span class="has-text-danger">.</span><span
											class="has-text-white">red</span>
									</h1>
									<h1 class="title has-text-weight-light is-size-1 has-text-danger"><strong
											class="has-text-weight-medium has-text-white">.</strong>CONTACT</h1>
								</div>
							</div>
							<div class="field">
								<div class="control">
									<div class="buttons is-paddingless is-marginless has-addons">
										<a href="mailto:jsingason@gmail.com" target="_blank"
											class="button is-size-4 has-text-weight-bold is-white has-text-danger is-outlined">
											<i class="fas fa-envelope"></i>
										</a>
										<a href="https://www.github.com/Sanctusz" target="_blank"
											class="button is-size-4 has-text-weight-bold is-white has-text-danger is-outlined">
											<i class="fab fa-github"></i>
										</a>
										<a href="https://www.linkedin.com/in/jsingason" target="_blank"
											class="button is-size-4 has-text-weight-bold is-white has-text-danger is-outlined">
											<i class="fab fa-linkedin"></i>
										</a>
										<a href="https://yoppe.itch.io/" target="_blank"
											class="button is-size-4 has-text-weight-bold is-white has-text-danger is-outlined">
											<svg class="svg-inline--fa" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 177 177">
												<path fill="currentColor"
													d="M23 0L0 27v7.7c0 9.8 9 18.4 17 18.4 9.9 0 18-8.3 18-18 0 9.7 7.9 18 17.6 18S70 44.8 70 35c0 9.7 8.4 18 18.1 18C98 53 106 44.8 106 35a18 18 0 0 0 17.7 18c9.7 0 17.3-8.3 17.3-18 0 9.7 8.4 18 18.2 18A18 18 0 0 0 177 35v-8L152 0C108.4-.1 23 0 23 0z"
													fill-rule="evenodd" />
												<path fill="currentColor"
													d="M35 48.6c-1 1.6-2.2 3-3.6 4.4-3.6 3.6-8.7 5.9-14.3 5.9-1.4 0-5-.8-5-.8v100h154V57.5c-2.4.9-4.3 1.4-7 1.4a20.3 20.3 0 0 1-17.7-10.4 20.6 20.6 0 0 1-17.7 10.4 20.3 20.3 0 0 1-17.8-10.4 20.4 20.4 0 0 1-35.5 0A20.4 20.4 0 0 1 38.3 53a19.5 19.5 0 0 1-3.3-4.4zM57.2 67c6.7 0 11.5 4.4 13.1 11h37.2c1.7-6.6 6.4-11 13.1-11 10.7 0 22.4 11 26 24.4l8.8 32c3.7 13.3-2 24.3-12.7 24.3-9.4 0-19.6-8.5-24.4-19.6H59.5c-4.9 11.1-15 19.6-24.4 19.6-10.7 0-16.4-11-12.8-24.4l8.8-32C34.8 78 46.5 67 57 67z" />
												<path fill="currentColor"
													d="M75.7 95.4l-12.5 13.4h12.4v13.9h24.6v-13.9h13.2l-12.6-13.4-12.5-13.5z" />
											</svg>
										</a>
									</div>
									<p class="subtitle has-text-white">
										Let's work <strong class="has-text-danger">together</strong> to make <strong
											class="has-text-danger">your</strong> ideas a reality!
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-1"></div>
					<div class="column">
						<div class="container slide-in-from-right">
							<h1 class="title has-text-white" style="margin-bottom: 2em;">Few of my qualities</h1>
							<div class="columns">
								<div class="column">
									<i class="fas fa-chart-line has-text-white is-size-1"></i>
									<h1 class="is-size-4 has-text-weight-semibold has-text-danger">Passionate</h1>
									<p class="is-size-6 has-text-weight-light has-text-grey-light">Always seeking to improve and finish a
										product.</p>
								</div>
								<div class="column"></div>
								<div class="column">
									<i class="fas fa-book has-text-white is-size-1"></i>
									<h1 class="is-size-4 has-text-weight-semibold has-text-danger">Quick Learner</h1>
									<p class="is-size-6 has-text-weight-light has-text-grey-light">Never shy to learn new subjects and
										hone my skills further.
									</p>
								</div>
								<div class="column"></div>
								<div class="column">
									<i class="fas fa-hands-helping has-text-white is-size-1"></i>
									<h1 class="is-size-4 has-text-weight-semibold has-text-danger">Adaptable</h1>
									<p class="is-size-6 has-text-weight-light has-text-grey-light">Whether working with a team or working
										independantly, I give
										it
										my all.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /hero -->
	<script src="/javascript/resumeModal.js"></script>
</body>

</html>