<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title">Too early!</h1>
      <p class="subtitle">
        Stay tuned, there might be a website here at a <strong>later</strong> date!
      </p>
    </div>
  </section>
</body>

</html>