<!DOCTYPE html>
<html>

<%- include("partials/_head.ejs", { title: "Home"}) %>

<body class="has-background-black">
	<!-- hero -->
	<section class="hero is-fullheight has-background-black">
		<div class="hero-head">
			<%- include("partials/_nav.ejs") %>
		</div>
		<div class="hero-body has-text-centered">
			<div class="container slide-in-from-left">
				<div class="field">
					<div class="control">
						<h1 class="subtitle has-text-weight-medium">
							&NonBreakingSpace;&NonBreakingSpace;
							<span class="has-text-white">joi</span><span class="has-text-danger">.</span><span
								class="has-text-white">red</span>
						</h1>
						<h1 class="title has-text-weight-light is-size-1 has-text-danger"><strong
								class="has-text-weight-medium has-text-white">.</strong>DEVELOPER</h1>
					</div>
				</div>
				<div class="field">
					<div class="control">
						<div class="buttons is-paddingless is-marginless has-addons">
							<a href="/contact"
								class="button is-size-5 has-text-weight-bold is-white has-text-danger is-outlined">CONTACT</a>
							<a href="#" id="resume-modal"
								class="button is-size-5 has-text-weight-bold is-white has-text-danger is-outlined">RESUME&nbsp;<i
									class="fas fa-file-download"></i></a>
						</div>
						<p class="subtitle has-text-white">
							Creative <strong class="has-text-danger">solutions</strong> to your <strong
								class="has-text-danger">problems</strong>!
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /hero -->
	<script src="/javascript/resumeModal.js"></script>
</body>

</html>