<!DOCTYPE html>
<html>

<%- include("partials/_head.ejs", { title: "Resume"}) %>

<body>
	<!-- hero -->
	<section class="hero is-fullheight has-background-black">
		<div class="hero-head">
			<%- include("partials/_nav.ejs") %>
		</div>
		<div class="hero-body has-text-centered">
			<div class="container">
				<div class="field">
					<div class="control">
						<h1 class="subtitle has-text-weight-medium">
							&NonBreakingSpace;&NonBreakingSpace;
							<span class="has-text-white">joi</span><span class="has-text-danger">.</span><span
								class="has-text-white">red</span>
						</h1>
						<h1 class="title has-text-weight-light is-size-1 has-text-danger"><strong
								class="has-text-weight-medium has-text-white">.</strong>RESUME</h1>
					</div>
				</div>
				<div class="field">
					<div class="control">
						<div class="buttons is-paddingless is-marginless has-addons">
							<a href="/resume"
								class="button is-size-5 has-text-weight-bold is-white has-text-danger is-outlined">RESUME</a>
							<a href="/contact"
								class="button is-size-5 has-text-weight-bold is-white has-text-danger is-outlined">CONTACT</a>
						</div>
						<p class="subtitle has-text-white">
							Creative <strong class="has-text-danger">solutions</strong> to your <strong
								class="has-text-danger">problems</strong>!
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /hero -->
	<script>
		$(document).ready(function () {
			// Check for click events on the navbar burger icon
			$(".navbar-burger").click(function () {
				// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
				$(".navbar-burger").toggleClass("is-active");
				$(".navbar-menu").toggleClass("is-active");

			});
		});
	</script>
</body>


</html>