<!DOCTYPE html>
<html>

<%- include("partials/_head.ejs", { title: "Home"}) %>

<body class="has-background-black">
	<!-- hero -->
	<section class="hero is-fullheight has-background-black">
		<div class="hero-head">
			<%- include("partials/_nav.ejs") %>
		</div>
		<div class="hero-body has-text-centered">
			<div class="container slide-in-from-left">
				<div class="field">
					<div class="control">
						<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- 1 -->
						<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8650207719069261"
							data-ad-slot="7828319400" data-ad-format="auto" data-full-width-responsive="true"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /hero -->
	<script src="/javascript/resumeModal.js"></script>
</body>

</html>