<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello Bulma!</title>
	<link rel="stylesheet" href="css/bulma.css">
	<link rel="stylesheet" href="css/style.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<!-- <link rel="stylesheet" href="css/debug.css"> -->
</head>

<body>
	<main>
		<!-- Left Menubar -->
		<div class="columns sidebar">
			<div class="column has-background-info">
				<aside class="menu">
					<p class="menu-label has-text-white">
						General
					</p>
					<ul class="menu-list">
						<li><a class="has-text-white">Dashboard</a></li>
						<li><a class="has-text-white">Customers</a></li>
					</ul>
				</aside>
			</div>
			<!-- / Left Menubar -->

			<!-- Main Content -->
			<div class="column is-two-thirds has-background-white">
				Main Content
			</div>
			<!-- / Main Content -->

			<!-- Right Sidebar  -->
			<div class="column has-background-info">
				<p class="has-text-white">Side Bar</p>
			</div>
			<!-- / Right Sidebar -->

		</div>
	</main>
	<footer class="footer has-background-black-bis">
		<div class="columns is-vcentered">
			<div class="column is-one-fifth">
				<div class="content has-text-left">
					<h1 class="is-size-4">Stuff</h1>
					<p><a href="#" class="is-size-6">iPhone App</a></p>
					<p><a href="#" class="is-size-6">Android App</a></p>
				</div>
			</div>
			<div class=" column is-one-fifth">
				<div class="content has-text-left">
					<h1 class="is-size-4">Products</h1>
					<p><a href="#" class="is-size-6">iPhone App</a></p>
					<p><a href="#" class="is-size-6">Android App</a></p>
				</div>
			</div>
			<div class="column is-three-fifths">
				<div class="content has-text-centered">
					<h1 class="is-size-2">Origo PhotoApp</h1>
				</div>
			</div>
		</div>
	</footer>
</body>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {

		// Check for click events on the navbar burger icon
		$(".navbar-burger").click(function () {

			// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
			$(".navbar-burger").toggleClass("is-active");
			$(".navbar-menu").toggleClass("is-active");

		});
	});
</script>

</html>